ansible/roles/n8n/templates/workflows/github-pr-automation.json.j2
{
  "name": "GitHub PR Automation with AI Review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub PR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "opened"
            }
          ]
        }
      },
      "id": "filter-pr-opened",
      "name": "Filter PR Opened",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.pull_request.diff_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-pr-diff",
      "name": "Fetch PR Diff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"codellama:13b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a code reviewer. Analyze the following PR diff and provide a concise review with any concerns, suggestions, or approval. Focus on: security issues, best practices, potential bugs.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Please review this PR:\\n\\nTitle: {{ $('GitHub PR Webhook').item.json.pull_request.title }}\\n\\nDescription: {{ $('GitHub PR Webhook').item.json.pull_request.body }}\\n\\nDiff:\\n{{ $json.body.substring(0, 8000) }}\"\n    }\n  ],\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "ai-review",
      "name": "AI Code Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('GitHub PR Webhook').item.json.repository.full_name }}/issues/{{ $('GitHub PR Webhook').item.json.pull_request.number }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": \"## AI Code Review\\n\\n{{ $json.message.content }}\\n\\n---\\n*This review was generated automatically by the AI assistant.*\"\n}",
        "options": {}
      },
      "id": "post-review-comment",
      "name": "Post Review Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Review posted successfully"
      },
      "id": "respond-webhook",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "GitHub PR Webhook": {
      "main": [
        [
          {
            "node": "Filter PR Opened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PR Opened": {
      "main": [
        [
          {
            "node": "Fetch PR Diff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PR Diff": {
      "main": [
        [
          {
            "node": "AI Code Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Code Review": {
      "main": [
        [
          {
            "node": "Post Review Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Review Comment": {
      "main": [
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "github"
    },
    {
      "name": "ai"
    },
    {
      "name": "automation"
    }
  ]
}
